* {
  box-sizing: border-box;
}

.Navbar {
  background-color: orangered;
  border-radius: 5px;
  width: 100%;
}

i {
  margin: 5px;
}

img {
  border-radius: 50%;
  width: 80px;
}

.display-users {
  width: 30%;
  border: 2px dotted rgb(230, 224, 224);
  margin: 5px 2px 5px 0;
  display: inline-block;
  margin-left: 10px;
}

.display-users a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bolder;
}

button {
  display: block;
  width: 120px;
  padding: 2px;
  margin: 12px 0 5px 0;
  cursor: pointer;
  background-color: black;
  border: 0;
  border-radius: 5px;
}

.display-user-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 250px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.search-btn {
  display: ;
  width: 120px;
  padding: 7px;
  margin: 12px 0 5px 0;
  cursor: pointer;
  background-color: black;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bolder;
}

input {
  padding: 10px;
  width: 99%;
  border: 2px solid black;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
